*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
}


/*欢迎框 */
.wellcome{
	width: 100%;
	height: 30px;
	background-color: #f0f0f0;
	opacity: 0.6;
}
.wellcome span{
	line-height: 30px;
}


/*logo部分 */
#logobox{
	width: 90%;
	height: 120px;
	margin: auto;
	display:flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#logo{
	width: 25%;
	height: 100px;
}
#logo img{
	width: 90%;
	height: 100px;
	margin-left: 20px;
}
#serchbox{
	width: 50%;
	height: 100px;
	display:flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
#serchbox #serch{
	width: 80%;
	height: 40px;

	margin-top: 30px;
}
#serchbox #serch #serchtxt{
	width: 100%;
	height: 40px;
	border-radius: 0px;
}
#serchbox #serchbtn{
	width: 20%;
	height: 45px;
	margin-top: 30px;
}
#serchbox #serchbtn #serchbutton{
	width: 80px;
	height: 40px;
	border-radius: 0px;
}

/*搜索提示*/
#serch_tip{
	border: solid 1px #ccc;
	height: 100px;
	width: 35.3%;
	position: absolute;
	z-index: 9999;
	background-color: white;
	box-shadow: 2px 2px 2px #ccc;
	display: none;
}
#serch_tip li{
	list-style: none;
	padding-left: 3px;
	margin-top: 3px;
}
#serch_tip li:hover{
	background:#ddd;
}

#contact{
	width: 25%;
	height: 100px;
	display:flex;
	margin-left: 20px;
}
.phonelogo{
	width: 80px;
	height: 80px;
	margin-top: 10px;
}
.phonelogo img{
	width: 80px;
	height: 80px;
}
.phonetxt{
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-top: 25px;
}


/*导航栏 */
.nav{
	width: 100%;

}
#nav_daohang{
	/*background-color: #00ab00;*/
}
#nav_daohang ul li{
	list-style: none;
}
#nav_daohang ul li a{
	text-decoration: none;
	display: block;

}
#nav_daohang a:hover,#nav_daohang .active a{
	background-color: #ddd;
}
.dropdown {
	position: relative;
	display: block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: #ddd;
	width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown:hover .dropdown-content{
	display: inline-block;
	background:#eee;
}



/*轮播图 */
.lunbo{
	width: 100%;
	height:400px;
	margin-bottom: 50px;
}

.lunbo-img img{
	width: 100%;
	height: 400px;
}
/*最新资讯部分 */
#hot-infomation{
	width: 90%;
	height: 400px;
	margin: auto;
	display:flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.img{
	overflow: hidden;
}
#hot-infomation img{
	width: 100%;
	height: 230px;
	padding-bottom: 3px;
	transition: all 0.8s ease;
}
#hot-infomation img:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2); /*Safari 和 Chrome*/
	-moz-transform: scale(1.2); /*Firefox*/
	-ms-transform: scale(1.2); /*IE9*/
	-o-transform: scale(1.2); /*Opera*/
}
#hot-infomation .title{
	text-align: center;
	margin-top: 5%;
	font-size: 20px;
	margin-bottom: 10px;
}
#hot-infomation .money{
	margin-top: 10%;
	margin-left: 60%;
	color: #ff6347;
	font-size: 22px;
}
#hot-infomation .rmb{
	height: 25px;
	width: 25px;
}
.infomation_l{
	width: 32%;
	height: 400px;
	padding: 10px;
	box-shadow: 0px 0px 1px #ccc;
}
.infomation_c{
	width: 32%;
	height: 400px;
	padding: 10px;
	box-shadow: 0px 0px 1px #ccc;
}

.infomation_r{
	width: 32%;
	height: 400px;
	padding: 10px;
	box-shadow: 0px 0px 1px #ccc;
}
.infomation_l:hover,.infomation_c:hover,.infomation_r:hover{
	box-shadow: 2px 2px 2px #ccc;
}


/*热门攻略 */
#hot-strategy{
	width: 90%;
	height: 400px;
	margin: auto;
	display:flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

#title1 h3,#title2 h3,#title3 h3,#title4 h3{
	margin-top: 10px;
	text-align: center;
	color: #2c2c2c;
	font-size: 22px;
}
#title1 p,#title2 p,#title3 p,#title4 p{
	color: #aaa;
	padding: 10px 30px;
}
#hot-strategy #check1,#hot-strategy #check2,#hot-strategy #check3,#hot-strategy #check4{
	width: 110px;
	height: 40px;
	margin-top: 30%;
	margin-left: 32%;
}

#hot-strategy .chenkinfomation{
	border: solid 1px #eee;
	background-color: #666;
	color: #eee;
	width: 110px;
	height: 40px;
	border-radius: 5px;
}
.strategy{
	width: 22%;
	height: 400px;
	background: no-repeat ;
	background-size: 100% 100%;
	border-top-left-radius: 80px;
	border-bottom-right-radius: 80px;
}


/*底部部分 */
.foot{
	width: 100%;
	height: 200px;
	background-color: #999;
}

/*分割线 */
.line{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	background-color: #fff;
	margin-bottom: 50px;
	margin-top: 70px;
}
.middle-line:before{
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: #999;/*颜色需与主题大背景色一致*/
	position: relative;
	top: 10px;/*调节线高*/
	left: 0;
}
.line-text{
	display: inline-block;
	background: #fff;
	padding: 0 28px 0 28px;
	position: relative;
	font-size: 26px;
	font-weight: 500;
	line-height: 26px;
	color: blue;
}


.toTop{
	width: 40px;
	height: 40px;
	position: fixed;
	right: 1%;
	bottom: 5%;
	background-color: gray;
	text-align: center;
}
.toTop .glyphicon-chevron-up{
	font-size: 200%;
	color: white;
}




/*底部部分 */
.foot{
	width: 100%;
	height: 200px;
	text-align: center;
	background-color: #999;
}
.foot a{
	color: 	#E6E6FA;
	text-decoration: none;
}
.foot a:hover{
	opacity: 0.7;
}
.foot table{
	width: 80%;
	margin-left: 10%;
}
.foot table th,.foot table td{
	width: 20%;
	text-align: center;
	padding-top: 1%;
}
.foot .footer{
	margin-top: 3%;
	font-size: 70%;
}


/*回到顶部*/

#background {
	background: url('../images/foreground.png') 5% 2%, url('../images/midground.png') 10% 5%, url('../images/background.jpg') 50% 5%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 70%;
	position: absolute;
	-webkit-transition: left 100s linear;
	-moz-transition: left 100s linear;
	-o-transition: left 100s linear;
	-ms-transition: left 100s linear;
	transition: left 100s linear;
	z-index: -1;
}

.main:target #background {
	left: -5000px;
}

.main:hover #background{
	left: -9999px;
}









