*{
	margin: 0;
	padding: 0;
}
#infomation_detail{
	width: 80%;

	margin: auto;
	border:solid 1px #aaa;
}
.box{
	width: 100%;
}
.row{
	margin-bottom: 30px;
}
.row .title p{
    text-align: center;
    font-size: 20px;
}
.col-md-7 img{
	padding: 10px 0;
}

.info-right{
	padding: 20px 20px;
}
.reserve_box{
	display: flex;
}
#reserve{
	border: 0;
	width: 100px;
	height: 40px;
	background-color: #ff9d00;
}
#reserve:hover{
	border: 0;
	background-color: #f60;
}
.reserve_r{
	width: 150px;
	height: 50px;
	margin-left: 15%;
	display: flex;
}
.txt{
	font-size: 14px;
	margin-top: 10px;
}
.like{
	width: 40px;
	height: 40px;
	background: url(../icon/like.png);
	background-size: 40px 40px;
}

/*订单信息 */
#confirm{
	
}
#goods{
	margin-top: 10%;
    display: flex;
	margin-bottom: 10px;
}
#goods img{
	width: 25px;
	height: 25px;
	margin-top: -10px;
}
#goods_shoucang{
	
	height: 30px;
	margin-left: 20%;

}
#goods_shoucang img{
	margin-top: -5px;
	width: 30px;
	height: 30px;
}
 #date{
    width: 100%;
    height: 40px;
    display: flex;
}
#date .date{
	width: 20%;
	height: 30px;
	margin-top: 5px;
}
#date .chose{
	width: 80%;
}
#date .chose select{
	width: 100%;
	height: 30px;
}
 #number{
    width: 100%;
    height: 40px;
    display: flex;
}
#number span{
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	margin-left: 30%;
}
 #number #person_number{
 	margin-top: 5px;
 	width: 20%;
 }
#adult{
	width: 40%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}
#adult .dec,#adult .add{
	cursor: pointer;
}
/*#child{
	width: 40%;
    height: 50px;
    display: flex;
}*/


/*详情内容 */
.detail{
	height: 500px;
	margin: auto;
}

#myTab{
	list-style: none;
	border-radius: 0;
	border-bottom: solid 1px #aaa;
}
#myTab li{
	width: 15%;
	margin-left: 10px;
	text-align: center;
}
#myTab li a{
	color: #666;
	font-size: 16px;
}

#myTab li a:hover,#myTab li.active a{
	background-color: #6495ED;
}
#myTabContent p{
	margin-top: 50px;
}

#notice{
	width: 80%;
	margin: auto;
}
/*评价部分*/
#comment{
	width: 50%;
	margin: auto;
	margin-top: 10px;
	margin-right: 30%;
}
#header{
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ddd;
}
#header .l{
	font-size: 20px;
}
#header .r{
	font-size: 14px;
	color: #aaa;
	margin-left: 20px;
}
#publish{
    width: 100%;
    height: 175px;
    margin-top: 20px;
    overflow: hidden;
    background-color: #eee;
    cursor: pointer;
}
#wirte_box{
	width: 97%;
	margin: auto;
    margin-top: 5px;
    background-color: #eee;
} 
#wirte_txt{
	 width: 100%;
	 height: 100px;
	 border: solid 1px #ddd;
	 background-color: white;
}
#report{
    margin-left: 80%;
	width: 20%;
	margin-top: -6px;
}
#wirte_box img{
	width: 30px;
	height: 30px;
}

#comment h5{
	display: block;
	height: 30px;
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
}
#comment_txt{
	height: 100px;
	border: solid 1px #ddd;
}

