.orderMsg{
	width: 100%;
	padding-left: 5%;
	padding-top: 2%;
	height: 500px;
}
.confirm{
	width: 90%;
}
.confirm ul li{
	list-style: none;
	padding-top:2%;
	margin-left: 6%;
}

.nameBox{
	width: 50%;
	height: 60px;
	text-align: center;
}

.priceBox{
	width: 50%;
	display: inline-block;
}
.priceBox h5{
	margin-left: 10%;
}
.priceBox h4,.priceBox h5{
	float: left;
}

.numBox{
	width: 50%;
	display: inline-block;
}
.numBox h4,.numBox .dec,.numBox #quantity,.numBox .add{
	float: left;
}
.numBox h5{
	margin-left: 5%;
}
.numBox .dec{
	margin-left: 11%;
}
.numBox .dec,.numBox .add{
	cursor: pointer;
}

.addressBox{
	width: 50%;
	height: 60px;
	text-align: center;
}

.ticketBox{
	width: 70%;
	display: inline-block;
}
.ticketBox h4,.ticketBox h5{
	float: left;
}
.ticketBox h5{
	margin-left: 10%;
}

.contactBox{
	width: 70%;
	display: inline-block;
	height: 50px;
}
.contactBox h4,.contactBox .contact{
	float: left;
}
.contactBox .contact{
	padding-left: 8%;
}

.contactNumBox{
	width: 50%;
	display: inline-block;
}
.contactNumBox h4,.contactNumBox .contactNum{
	float: left;
}
.contactNumBox .contactNum{
	margin-left: 11%;
	margin-top: 1%;
}

.submitBox{
	text-align: right;
	position: fixed;
	right: 0px;
	bottom: 0px;
}
