<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cytx.dao.OrderMapper">
  <resultMap id="OrderMap" type="com.cytx.pojo.Order">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="order_amount" jdbcType="INTEGER" property="orderAmount" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
      <result column="order_total_price" jdbcType="DOUBLE" property="orderTotalPrice" />
    <result column="order_create_time" jdbcType="TIMESTAMP" property="orderCreateTime" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <association property="user" javaType="com.cytx.pojo.User">
      <id property="userId" column="uid"/>
      <result property="userName" column="user_name" javaType="String" jdbcType="VARCHAR"/>
    </association>
    <association property="scenic" javaType="com.cytx.pojo.Scenic">
      <id property="scenicId" column="sid"/>
      <result property="scenicName" column="scenic_name" javaType="String" jdbcType="VARCHAR"/>
    </association>
  </resultMap>

  <select id="postCountByQueryVo" parameterType="com.cytx.pojo.QueryVo" resultType="int">
        select count(order_id) from `order`
    </select>

  <select id="selectPostListByQueryVo" parameterType="com.cytx.pojo.QueryVo" resultMap="OrderMap">
    select
    o.order_id,o.order_no,o.order_amount,o.order_status,o.order_total_price,o.order_create_time,o.code,o.state,s.scenic_name,u.user_name
    from `order` o
    left join user u on u.user_id=o.uid
    left join scenic s on s.scenic_id=o.sid
    <where>
      <if test="name != null and name != ''">
        u.user_name like "%"#{name}"%"
      </if>

    </where>
    order by o.order_id
    limit #{startRow},#{size}
  </select>

  <update id="updateStateById" parameterType="Integer">
        update `order`
        set state = 1
        where order_id = #{id}
    </update>

  <insert id="insertOrder" parameterType="com.cytx.pojo.Order">
        insert into `order`
        (
        order_no,
        order_amount,
        order_status,
        order_total_price,
        order_create_time,
        sid,
        uid,
        code,
        state
        )
        values(
        #{orderNo,jdbcType=VARCHAR},
        #{orderAmount,jdbcType=INTEGER},
        #{orderStatus,jdbcType=INTEGER},
        #{orderTotalPrice,jdbcType=DOUBLE},
        #{orderCreateTime,jdbcType=TIMESTAMP},
        #{sid,jdbcType=INTEGER},
        #{uid,jdbcType=INTEGER},
        #{code,jdbcType=VARCHAR},
        #{state,jdbcType=INTEGER}
        )
    </insert>

    <select id="getOrderByNo" parameterType="String" resultMap="OrderMap">
        select
        o.order_id,o.order_no,o.order_amount,o.order_status,o.order_total_price,o.order_create_time,o.code,o.state,s.scenic_name,u.user_name
        from `order` o
        left join scenic s on s.scenic_id=o.sid
        left join  user u on u.user_id=o.uid
        where o.order_no = #{no}
    </select>

    <update id="updateStatusToPayById" parameterType="Integer">
        update `order`
        set order_status = 1
        where order_id = #{id}
    </update>

</mapper>